<section class="uk-section">
	<div id="author-wrap" class="uk-container uk-container-small">
		<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
			<div class="uk-width-expand">
				<h4 class="uk-margin-remove uk-text-bold">{{ @output }}</h4>
				<span class="uk-text-small uk-text-muted">This is an example module. Click <a href="{{@BASE}}/ex2">here</a> to go to another module.</span>
			</div>
		</div>
	</div>
</section>
<!--/AUTHOR-->
<div class="uk-container uk-container-small">
	<hr class="uk-margin-remove">
</div>