			<footer class="uk-section uk-section-small" style="margin-bottom: 60px">
				<div class="uk-container">
					<p class="uk-text-small uk-text-center">Built with <a href="http://getuikit.com" title="Visit the UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a> & <a href="https://fatfreeframework.com" title="Visit the F3 Site" target="_blank" data-uk-tooltip>F3</a> </p>
				</div>
			</footer>
			<!--/FOOTER-->
			<!-- BOTTOM BAR -->
			<div class="uk-section uk-section-xsmall uk-section-default uk-position-bottom uk-position-fixed" style="border-top: 1px solid #f2f2f2">
				<div class="uk-container uk-container-small uk-text-small">
					<div class="uk-grid" data-uk-grid>
						<div class="uk-width-expand">
							<a href="#" class="uk-link-reset">
								<span data-uk-icon="icon: arrow-right"></span>
								<span class="uk-visible@s">Grump-Free-Framework | <small>Page Rendered in {{ @loadtime }} seconds.</small></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /BOTTOM BAR -->
		</div>
	</body>
</html>