<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grump-Free-Framework</title>
		<link rel="icon" href="img/favicon.ico">
		<!-- CSS/JS FILES -->
		<link rel="stylesheet" type="text/css" href="/assets/css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
		<script src="/assets/js/uikit.min.js"></script>
		<script src="/assets/js/uikit-icons.min.js"></script>
	</head>
	<body>
		<div class="uk-offcanvas-content">
			<!--HEADER-->
			