<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Grump-Free-Framework</title>
		<link rel="icon" href="img/favicon.ico">
		<!-- CSS/JS FILES -->
		
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.js"></script>
		
		<!-- Custom CSS from assets folder -->
		<link rel="stylesheet" type="text/css" href="{{ @BASE }}/assets/css/custom.css">
		
	</head>
	<body>
		<div class="ui container">
			<div class="ui borderless massive menu">
				<a class="header item">Grump-Free-Framework</a>
				<div class="right menu">
					<a href="{{ @BASE }}/" class="{{ @module == 'empty_module' ? 'active' : '' }} item">Empty</a> 
					<a href="{{ @BASE }}/model_module" class="{{ @module == 'model_module' ? 'active' : '' }} item">Model</a>
					<a href="{{ @BASE }}/alt_template_module" class="{{ @module == 'alt_template_module' ? 'active' : '' }} item">Alternate</a>
				</div>
			</div>
			<include href="{{ @content }}" />
			<div class="ui divider"></div>
			<footer><a href="https://github.com/GrumpyCrouton/grump-free-framework">Grump Free Framework</a> | Loaded module "{{ @module }}" In {{ @loadtime }} seconds.</footer>
		</div>
	</body>
</html>